/* Paleta de colores */
/* rgb(255, 255, 255) (blanco) */
/* rgb(249, 246, 247) (blanco mas oscuro) */
/* rgb(255, 232, 214) (gris) */
/* rgb(255, 151, 29) (naranja) */

/* Configuraciones globales */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color:rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif
}

.h2-a {
    background-color: rgb(255, 232, 214);
    padding-top: 2%;
    padding-left: 1.5%;
    margin: 0;
}

.h2-b {
    background-color: rgb(255, 255, 255);
    padding-top: 2%;
    padding-left: 1.5%;
    margin: 0;
}

/* Apartado Header */

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(255, 151, 29);
}

.contenedor-header {
    width: 30%;
    display: flex;
}

.sub-contenedor-header {
    display: flex;
    width: 30%;
    padding: 0;
    margin: 0;
}

#logo {
    max-width: 100%;
    width: 100%;
}

.sub-contenedor-header2 {
    display: flex;
    width: 70%;
    align-items: center;
    margin-left: 2%;
}

nav {
    width: 35%;
}

ul {
    display: flex;
    /* se saca el punto de la lista */
    list-style: none;
    justify-content: space-around;
}

a {
    /* se saca el subrayado */
    text-decoration: none;
}

.letra-nav {
    font-size: large;
}

/* Fin apartado Header */

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0; /* Agregué esto */
    padding: 0; /* Agregué esto */
}

/* Inicio apartado nosotros */

#Nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 232, 214);
}

/* Fin apartado nosotros */

/* Apartado productos */

#Productos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(255, 255, 255);
   box-shadow: 4px 4px 8px rgb(248, 216, 192);
   margin: 2%;
   margin-top: 5%;
   padding: 3%;

   /* Flex-grow, flex-shrink, flex-basis "resumido"*/
   flex: 1 1 250px;
   /* - - - - - - - - - - - - - - - - - - - - - - -*/

   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 250px;
   /* Para que no se estiren demasiado en pantallas grandes */
   max-width: 300px;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

/* Fin apartado productos */

/* Inicio apartado reseñas */

#reseñas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding: 2%;
    background-color: rgb(255, 232, 214);
} 

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-shadow: 4px 4px 8px rgba(255, 150, 29, 0.644);
    border-style: solid;
    border-color: rgba(255, 150, 29, 0.568);
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px)
}

.imagen-reseña {
    width: 50%;
}

.texto-r {
    font-style:oblique;
}

/* Fin apartado reseñas */

/* Inicio apartado formulario Grid / Flexbox */

.formu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    background-color: rgba(255, 150, 29, 0.61);
    border-radius: 10px;
}

/* secciones del formulario */
.f1 {
    /* importante volver a declarar display y distribucion de columnas, en sub categorias de css */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    gap: 5%;
    
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
}

.subf1 {
    display: flex;
    flex-direction: column;
}

.f2 {
    display: grid;
    grid-column: 1 / 3;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.f3 {
    grid-column: 2 / 3; /* ubica esta sección en la segunda columna del formulario - funciona por el padre formu */
    display: flex;
    justify-content: end;
    padding-right: 6%;
    padding-bottom: 5%;
}

input,
textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    resize: none;
}

/* Fin apartado formulario */

 /* Apartado footer */

#footerSuperior {
    background-color: rgb(255, 232, 214)
}

#footerInferior {
    background-color: rgb(145, 145, 145);
}

#footerSuperior {
    display: flex;
    padding: 20px;
  }

#textoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

#texto2 {
    width: 100%;
}

#seccionesFooter {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 5px;
  }

.letra-nav, .enlaces1 {
    text-decoration: none;
}

.letra-nav, .enlaces1 {
    color: rgb(0, 0, 0);
    text-shadow: 4px 4px 8px rgb(0, 0, 0); /* Sombra negra fuerte */
}

.enlaces1:visited, .letra-nav:visited{
    color: rgb(0, 0, 0);
    text-shadow: 4px 4px 8px rgb(0, 0, 0); /* Sombra negra fuerte */
}

.enlaces1:hover, .letra-nav:hover {
    color: rgb(255, 151, 29);
}

#redesFooter {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content:space-evenly;
  }

#redesFooter img {
    width: 40px;
    height: 40px;
}

#footerInferior {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#footerInferior p {
    margin: 0.5%;
    padding: 0.1%;
  }

.redesLogos:hover {
    transform: scale(1.1);
  }

/* Fin apartado footer */

/* Inicio apartado media */

 @media (max-width: 1200px) {

    .letra-nav {
        font-size: 15px;
    }

    .h2-a { 
    padding-top: 3%;
    padding-left: 2.5%;
    padding-bottom: 2%;
    }

    .h2-b {
    padding-top: 3%;
    padding-left: 2.5%;
    padding-bottom: 2%;  
    }

}

@media (max-width: 768px) {
    body {
        font-size: 11px;
    }
    button {
        font-size: 11px;    
    }

    .letra-nav {
        font-size: 11px;
    }

    .contenedor-header {
        width: 55%;
    }   

    .sub-contenedor-header {
        width: 30%;
    }
    
    .sub-contenedor-header2 {
        width: 70%;
    }
    
    nav {
        width: 45%;
    }

 }

 /* Fin apartado media */