/* Apartado Header */

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.contenedor-header {
    width: 30%;
    display: flex;
}

.sub-contenedor-header {
    display: flex;
    width: 30%;
    padding: 0;
    margin: 0;
}

#logo {
    max-width: 100%;
    width: 100%;
}

.sub-contenedor-header2 {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

nav {
    width: 35%;
}

ul {
    display: flex;
    /* se saca el punto de la lista */
    list-style: none;
    justify-content: space-around;
}

a {
    /* se saca el subrayado */
    text-decoration: none;
}

/* Fin apartado Header */


#Productos {
    display: flex;
    border-style: solid;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-style: solid;
   border-color: brown;
   margin: 2%;
   margin-top: 5%;
   padding: 3%;

   /* Flex-grow, flex-shrink, flex-basis "resumido"*/
   flex: 1 1 250px;
   /* - - - - - - - - - - - - - - - - - - - - - - -*/

   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 250px;
   /* Para que no se estiren demasiado en pantallas grandes */
   max-width: 300px;
}

img {
    width: 100%;
}

#reseñas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding: 2%;
    border-style: double;
} 

#Nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.card {
    border-style: solid;
    padding: 5%;
    box-shadow: 0 4px 8px rgba(12, 171, 245, 0.884);
}

.card:hover {
    transform: translateY(-5px)
}

/* formulario grid */
.formu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: double;
    margin: 5%;
}

/* secciones del formulario */
.f1 {
    /* importante volver a declarar display y distribucion de columnas, en sub categorias de css */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
    gap: 5%;
    
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
}

.subf1 {
    display: flex;
    flex-direction: column;
}

.f2 {
    display: grid;
    grid-column: 1 / 3;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.f3 {
    grid-column: 2 / 3; /* ubica esta sección en la segunda columna del formulario - funciona por el padre formu */
    display: flex;
    justify-content: end;
    padding-right: 6%;
    padding-bottom: 5%;
}

input,
textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    resize: none;
}

 @media (max-width: 768px) {
    body {
        font-size: 11px;
    }
    button {
    font-size: 11px;    
    }
 }
